* {
 box-sizing: border-box;
 border: 0;
 padding: 0;
 font-family: 'Poppins', sans-serif;
 font-size: 30px;
 text-align: center;
 color: white;
}

header,
footer {
 clear: both;
}

header {
 height: 100px;
 float: left;
 width: 50%;
 background: lightcoral;
 border-radius: 50px;
 line-height: 100px;
}

header::before {
 content: "Logo.name here";
}

nav {
 float: right;
 height: 100px;
 width: 40%;
 background-color: aquamarine;
 line-height: 100px;
 border-radius: 50px;
}

nav::before {
 content: 'Nav.here /Home. Stories. Team.';
}

/* Sections */

section {
 margin-top: 10px;
 height: 300px;
 width: 32.3333%;
 background: lightseagreen;
 border-radius: 50px;
 display: inline-block;
}

.left-top {
 float: left;
 height: 400px;
 background-color: cyan;
 width: 49%;
}

.right-top {
 float: right;
 height: 400px;
 padding-top: 10%;
 background-color: cornflowerblue;
 width: 49%;
}

.left-top::before {
 content: "About.App here!";
 line-height: 400px;
}

.bottom {
 width: 100%;
 background-color: gold;
}

span {
 border-radius: 50px;
 height: 50px;
 background-image: linear-gradient(90deg, lightgrey, lightsalmon, lightblue);
}

span::before {
 content: ".categories";
 padding: 10px 15px;
 display: inline-block;
}

footer {
 height: 100px;
 border-radius: 50px;
 background-color: darkslateblue;
}