#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.story {
  width: 500px;
}

p {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

span {
  color: green;
}

.exclude {
  color: #222;
}