#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-size: 18px;
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  background-color: rgba(136, 127, 169, 0.626);
}

.card {
  padding: 2em;
}

.story {
  width: 500px;
}

p {
  font-size: 1.1rem;
  color: transparent;
  font-family: 'DM Mono', monospace;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

span {
  color: #0e0706;
  margin: 0 5px;
  font-size: 1.2rem;
  font-family: 'Kumbh Sans', sans-serif;
  letter-spacing: 2px;
  text-decoration: underline wavy aqua 2px;
}

.exclude {
  color: #222;
}

input[type='text'] {
  font-size: .90rem;
  height: 30px;
  border-radius: 8px;
  text-indent: 20px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 3px .5px black;
  margin: 5px;
  font-family: "Kumbh Sans";
}

ul {
  list-style: lower-roman;
  text-align: left;
}


.story-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

.story-box-links {
  height: 200px;
  flex: 2 1 200px;
  font-size: 1.2rem;
  line-height: 200px;
  text-align: center;
  margin: 2px;
  border-radius: 5px;
}

/* Temp colours */

.story-box-links:nth-of-type(2n+1) {
  flex-basis: 400px;
  background: rgb(32, 3, 32);
}

.story-box-links:nth-of-type(2n) {
  background: goldenrod;
}

.story-box-links:nth-last-of-type(3n +1) {
  flex-basis: 150px;
  background: greenyellow;
}

.story-box-links:nth-of-type(6n) {
  background: aquamarine;
}

p+button,
p+button+button {
  margin: 0 10px;
  background: rgb(121, 67, 121);
}