.App {
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  height: 6rem;
  border-bottom: 1px solid #000;
  justify-content: space-around;
  align-items: center;
  background-color: #49cfbc;
}

.Header-logo {
  width: 5em;
}

.Header-title{
  font-size: 5em;
}

.Header-link {
  text-decoration: none;
  color: #000;
  align-self: flex-end;
  padding-bottom: 1em;
  font-size: 1.3em;
}

.Header-link:hover {
  text-decoration: underline;
  color: blue;
}

.Main-section {
  flex-grow: 1;
  min-height: 63vh;
}

.Footer {
  padding-top: 0.5em;
  border-top: 1px solid #000;
  background-color: #8061d9;
}

.Chingu-links, .Team-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Chingu-links > *, .Team-links > * {
  margin: 0.3em 2em;
  font-size: 1.3em;
}

.Footer-icon:hover {
  transform: scale(1.3);
  transition: all .5s ease;
  color: rgb(217, 221, 94);
}

.Footer-text {
  text-align: center;
  margin: 0.3em;
  font-size: 1.1em;
}

.Code-link {
  color: #d0b9e7;
}




